<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>HTML5 </h1>
        <p> This page has some beginner level information about HTML5. I have also gathered all the exercises which I have been doing to learn HTML5 as a beginner.
            I will try to update the list of exercises as frequently as possible. I'm always welcome to comments and critic's. Please pardon me if there are any mistakes in the above material. </p>
    </div>
</div>

<div class="row">
    <div class="col-full-width">
        <div class="blog-post">
            <h2 class="blog-post-title">Introduction</h2>
            <p class="blog-post-meta">February 13, 2014 by <a href="mailto:naresh4697@gmail.com">Naresh</a></p>

            <p>Html5 is a front end web technology. It is the current version of html which is <em>5.</em> Html5 is semantic meaning the tags used to present the content are meaningful.
                Html5 is just used to display the content to the end user. Advantages of Html5 over its predecessors are semantic, does not require heavy plugins to run video and audio files.
            </p>
            <blockquote>
                <p>HTML5 is used to present or share content across internet.</p>
            </blockquote>
            <h3>Elements</h3>
            <p>HTML5 is made up of individual elements. These elements are like the barebone skeletal system of HTML5.</p>
                        <pre>&lt;!Doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;
        &lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;/body&gt;
&lt;/html&gt; </pre>

            <h3>Attributes</h3>
            <p>Attributes are the specific to indivvidual elements of HTML5. These attribute define the way the elements get displayed in the page.
                The following section highlights attribute as bold.</p>
                        <pre>&lt;!Doctype html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;
        &lt;/title&gt;
    &lt;/head&gt;
    &lt;body <strong>id</strong>="attribute1" <strong>class</strong>="atribute2"&gt;
    &lt;/body&gt;
&lt;/html&gt; </pre>

        </div>
    </div>
</div>